.l-header {
  background-color: $mainWhite;
  height: 80px;
  width: 100%;
  position:  fixed;
  z-index: 10000;
  @include media (sp) {
    height: auto;
  }
  &__scrollBottom {
    border-bottom: 1px solid #ccc;
  }
  &__wrapper {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: space-between;
    @include media (sp) {
      height: auto;
  }
  }
  &__title {
    font-size: 2.5vw;
    @include media (sp) {
      font-size: 18px;
    }
  }
  &__nav {
    margin-top: -8px;
    @include media (sp) {
      display: none;
    }
  }
  &__ul {
    display: flex;
  }
  &__li {
    font-size: 1.4vw;
    margin-left: 40px;
  }
  &__link {
    position: relative;
    &::after {
      content: attr(data-text) "";
      display: block;
      font-size: 1.1vw;
      position: absolute;
      top: 1.4vw;
      left: 15%;
    }
  }
}

// ハンバーガーメニュー
.l-ham {
  cursor: pointer;
  display: none;
  height: 40px;
  position: relative;
  width: 40px;
  @include media (sp) {
    display: block;
  }
  &__line {
    background-color: #eaf7f8;
    height: 4px;
    transition: all 0.4s;
    width: 28px;
    position: absolute;
    left: 10px;
    top: 12px;
    &--2 {
      top: 18px;
    }
    &--3 {
      top: 24px;
    }
  }
  // クリック時
  &__line {
    .clicked &--1 {
      transform: rotate(45deg);
      top: 20px;
    }
    .clicked &--2 {
      display: none;
    }
    .clicked &--3 {
      transform: rotate(-45deg);
      top: 20px;
    }
  }
  &__menu {
    background: linear-gradient(to left, $mainGray 0%, $subColor 32%, $mainColor 100%);
    border-left: 1.2px solid $mainGray;
    border-top: 1.2px solid $mainGray;
    height: 100vh;
    margin-top: 40px;
    transition: all 0.5s;
    transition-timing-function: ease-out;
    width: 232px;
    position: fixed;
    right: -232px;
    .clicked & {
      right: 0;
    }
    &-top {
      font-size: 18px;
      position: absolute;
      top: 20px;
      left: 24px;
    }
  }
  &__ul {
    margin: 68px 0 0;
  }
  &__li {
    font-size: 20px;
    border-top: 1px solid $mainGray;
    padding: 8px 0 20px 24px;
    &:nth-of-type(3) {
      border-bottom: 1px solid $mainGray;
    }
  }
  &__link {
    position: relative;
    &::after {
      content: attr(data-text);
      display: block;
      font-size: 12px;
      position: absolute;
      top: 18px;
      left: 4px;
    }
  }
}