.p-activity {
  background-color: $mainGray;
  &__figure--top {
    width: 100vw;
    height: 64vw;
    position: relative;
    &::before {
      @include activity-triangle;
    }
    &::after {
      @include activity-triangle;
      border-bottom: none;
      border-left: none;
      border-top: 7vw solid rgba(0,0,0,0);
      position: absolute;
      top: 64vw;
    }
  }
  &__img--top {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    padding-top: 10vw;
    font-size: 3vw;
    font-weight: 600;
    position: relative;
    z-index: 100;
    @include media (sp) {
      font-size: 20px;
      padding-top: 60px;
    }
    &::before {
      content: '';
      display: block;
      background-color: $accentColor;
      width: 15vw;
      height: 4vw;
      position: absolute;
      top: 10.1vw;
      left: -1.3vw;
      z-index: -10;
      @include media (sp) {
        width: 96%;
        top: 60px;
        height: 32px;
        left: 0;
      }
    }
    &--sub {
      margin-top: 40px;
      font-size: 32px;
      @include media (sp) {
        font-size: 18px;
        margin-top: 28px;
      }
      &:nth-of-type(2) {
        @include media (sp) {
          margin-top: 32px;
        }
      }
    }
  }
  &__figure {
    height: 61vw;
    & img {
      object-fit: cover;
    }
    @include media (sp) {
      @include spFigure;
    }
    &:first-of-type {
      width: 44.5vw;
      height: 40vw;
      display: inline-block;
      @include media (sp) {
        margin-top: 12px;
        width: 43.5vw;
      }
    }
  }
  &__figure:nth-of-type(2) {
    width: 44.5vw;
    height: 40vw;
    display: inline-block;
  }
  &__figure:nth-of-type(3) {
    & img {
      width: 100%;
    }
    @include media (sp) {
      margin-top: 12px;
    }
    & img {
      @include media (sp) {
        width: 100%;
      }
    }
  }
  &__figure:nth-of-type(4) {
    width: 44vw;
    height: 40vw;
    display: inline-block;
    @include media (sp) {
      display: block;
      margin-top: 24px;
      @include spFigure;
    }
    & img {
      @include media (sp) {
        width: 100%;
      }
    }
  }
  &__figure:nth-of-type(5) {
    width: 44vw;
    height: 40vw;
    display: inline-block;
    @include media (sp) {
      display: block;
      margin-top: 8px;
      @include spFigure;
    }
    & img {
      object-fit: cover;
      @include media (sp) {
        width: 100%;
      }
    }
  }
  &__figure:nth-of-type(6) {
    width: 88.5vw;
    & img {
      width: 100%;
    }
    @include media (sp) {
      display: none;
    }
  }
  &__message {
    font-size: 1.3vw;
    line-height: 1.5;
    letter-spacing: .2em;
    margin: 4vw auto;
    text-align: center;
    width: 60vw;
    @include media (sp) {
      font-size: 14px;
      margin: 24px 0 0;
      text-align: left;
      width: 100%;
    }
  }
  &__triangle {
    @include activity-triangle;
    border-bottom: 6vw solid $subColor;
    border-right: 100vw solid $mainGray;
  }
}