.p-rookie {
  &-bg-color {
    background-color: $mainColor;
  }
  &__content {
    padding-top: 80px;
    @include media (sp) {
      padding-top: 60px;
    }
  }
  &__figure {
    width: 56vw;
    height: auto;
    @include media (sp) {
      @include spFigure;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    font-size: 1.8vw;
    font-weight: 600;
    height: 34vw;
    margin-top: 4vw;
    padding-left: 5.5vw;
    writing-mode: vertical-rl;
    width: 12vw;
    @include media (sp) {
      font-size: 18px;
      font-weight: 500;
      height: auto;
      margin-top: 24px;
      padding: 0;
      writing-mode: initial;
      width: 100%;
    }
  }
  &__message {
    font-size: 1.6vw;
    line-height: 1.4;
    margin: 0 auto;
    padding: 6vw 0;
    width: 60vw;
    @include media (sp) {
      font-size: 14px;
      margin-top: 24px;
      margin-left: 0;
      padding: 0 0 60px;;
      width: 100%;
    }
  }
  &-triangle {
    @include triangle;
  }
}