.top-page {
  .p-fv {
    background-image: url("../img/siteTop.jpg");
    background-size: cover;
    height: 0;
    padding-top: 66%;
    position: relative;
    width: 100%;
    @include media (sp) {
      padding-top: 100%;
    }
    &__title {
      color: $mainBlack;
      font-size: 6vw;
      font-weight: 400;
      position: absolute;
      top: 15vw;
      left: 5vw;
      @include media (sp) {
        color: $mainWhite;
        font-size: 20px;
        left: 1vw;
        top: 168px;
      }
      &--sub {
        color: $mainBlack;
        font-size: 3vw;
        font-weight: 400;
        position: absolute;
        top: 23vw;
        left: 10.5vw;
        @include media (sp) {
          color: $mainWhite;
          font-size: 12px;
          left:1.5vw;
          top: 196px;
        }
      }
    }
  }
}